<!--This is where we will select our characters-->
<!-- 
Class
Img
Base Stats
Abilities 
 -->
{{#each Character}}
 <div>
 	<h1>Class {{this.class}}</h1>
 	<img src="./public/assets/img"{{this.image}}>
 	<p>Base Stats{{this.stats}}</p>
 	<p>Abilities{{this.abilities}}</p>
 </div>

 <button href='battle.handlebars'></button>
{{/each}}
