{{!-- this is the character select screen (also select music here) --}}
    <div class="container">
      <div class="notification">
        <h1>Welcome to Instrumental Slayer</h1>
        <h2>Click to continue to your musical destiny</h2>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
          <div class="tile">
            <div class="tile is-parent is-vertical is-2">

            </div>
            <div class="tile is-parent is-vertical">
              <article class="tile is-child yellow_0 is-12">
                <p class="yellow_1">Double Drop Marvin</p>
                <figure class="image is-1by1 yellow_3">
                  <img src="./assets/img/note_yellow.png">
                </figure>
                <p class="yellow_2">Uses Heavy Beats to demolish the enemy! (fighter)</p>
              </article>
              <article class="tile is-child blue_0 is-12">
                <p class="blue_1">Straight Edge Steve</p>
                <figure class="image is-1by1 blue_3">
                  <img src="./assets/img/note_blue.png">
                </figure>
                <p class="blue_2">Uses Mellow Keys to tranquilize the enemy! (mage)</p>
              </article>
            </div>
            <div class="tile is-parent is-vertical middle">
                <p class="songtitle">Pick your SONG to use in battle</p>
                <div class="songlist">List of Songs</div>
                <button id="start">SELECT</button>
            </div>
            <div class="tile is-parent is-vertical">
              <article class="tile is-child red_0 is-12">
                <p class="red_1">Flashy Francine</p>
                <figure class="image is-1by1 red_3">
                  <img src="./assets/img/note_red.png">
                </figure>
                <p class="red_2">Uses Tempo to barrage the enemy! (rogue)</p>
              </article>
              <article class="tile is-child green_0 is-12">
                <p class="green_1">Peeky Paula</p>
                <figure class="image is-1by1 green_3">
                  <img src="./assets/img/note_green.png">
                </figure>
                <p class="green_2">Uses Harmony to put down the enemy! (cleric)</p>
              </article>
            </div>
            <div class="tile is-parent is-vertical is-2">

            </div>