<!--This will be our main screen to start the game-->

<div class="container">
      <div class="notification">
        <h1>Welcome to Instrumental Slayer</h1>
        <h2>Click to continue to your musical destiny</h2>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
          <div class="tile">
            <div class="tile is-parent is-vertical is-1">

            </div>
            <div class="tile is-parent is-vertical">
              <article class="tile is-child yellow_0 is-12">
                <p class="yellow_1">Double Drop Marvin</p>
                <figure class="image is-1by1 yellow_3">
                  <img src="./assets/img/note_yellow.png">
                </figure>
                <p class="yellow_2">Uses Heavy Beats to demolish the enemy! (fighter)</p>
              </article>
              <article class="tile is-child blue_0 is-12">
                <p class="blue_1">Straight Edge Steve</p>
                <figure class="image is-1by1 blue_3">
                  <img src="./assets/img/note_blue.png">
                </figure>
                <p class="blue_2">Uses Mellow Keys to tranquilize the enemy! (mage)</p>
              </article>
            </div>
            <div class="tile is-parent is-vertical middle">
                <p class="songtitle">Pick your SONG to use in battle</p>
                  <ul class="songlist">
                    <li id="0">Mirrors</li>
                    <li id="1">Grenade</li> 
                    <li id="2">John Cougar, John Deere, John</li>
                    <li id="3">Loook at Me Now</li>
                    <li id="4">My Life</li>
                    <li id="5">Started From The Bottom</li>
                    <li id="6">Wake Me Up</li>
                    <li id="7">I Don't Give A Fuck</li>
                    <li id="8">Climax</li>
                    <li id="9">Lucky</li>
                    <li id="10">Lil Freak</li>
                    <li id="11">Run This Town</li>
                    <li id="12">Still D.R.E.</li>
                    <li id="13">Who Says</li>
                    <li id="14">Superstar</li>
                    <li id="15">Before He Cheats</li>
                    <li id="16">Like A Wreaking Ball</li>
                    <li id="17">Not Afraid</li>
                    <li id="18">Ordinary People</li>
                    <li id="19">Tears In Heaven</li>
                  </ul>
            <div class="eq">
             <div class="tile is-child box middle">
             <p class="title">Battlefield</p>
             <p>THIS IS WHERE ALL THE MUSICAL GRAPHIC JAZZ HAPPENS</p>
              <div class="equalizer">
                  <span class="column" id="purple"></span>
                  <span class="column" id="blue"></span>
                  <span class="column" id="cyan"></span>
                  <span class="column" id="green"></span>
                  <span class="column" id="yellow"></span>
                  <span class="column" id="orange"></span>
                  <span class="column" id="red"></span> 
                  <span id="black"></span>
                  <br/>
                  <input type="button" onclick="JavaScript: play();" value="Play" id=button>
              </div>
            </div>
            </div>      
                  
                <button id="start">SELECT</button>
            </div>
            <div class="tile is-parent is-vertical">
              <article class="tile is-child red_0 is-12">
                <p class="red_1">Flashy Francine</p>
                <figure class="image is-1by1 red_3">
                  <img src="./assets/img/note_red.png">
                </figure>
                <p class="red_2">Uses Tempo to barrage the enemy! (rogue)</p>
              </article>
              <article class="tile is-child green_0 is-12">
                <p class="green_1">Peeky Paula</p>
                <figure class="image is-1by1 green_3">
                  <img src="./assets/img/note_green.png">
                </figure>
                <p class="green_2">Uses Harmony to put down the enemy! (cleric)</p>
              </article>
            </div>
            <div class="tile is-parent is-vertical is-1">

            </div>

{{!-- <audio id = "mirrors" src = "../audio/09 Mirrors.m4a"> </audio>
<audio id = "grenade" src = "../audio/01 Grenade.m4a"> </audio>
<audio id = "johncougar" src = "../audio/01 John Cougar, John Deere, John 3_16.m4a"> </audio>
<audio id = "lookatmenow" src = "../audio/01 Look At Me Now (feat. Lil Wayne & Busta Rhymes).m4a"> </audio>
<audio id = "life" src = "../audio/01 My Life (feat. Eminem & Adam Levine).m4a"> </audio>
<audio id = "bottom" src = "../audio/01 Started from the Bottom.m4a"> </audio>
<audio id = "wake" src = "../audio/01 Wake Me Up.m4a"> </audio>
<audio id = "withyou" src = "../audio/1-04 I Don't Fuck With You (feat. E-40).mp3"> </audio>
<audio id = "climax" src = "../audio/03 Climax.m4a"> </audio>
<audio id = "lucky" src = "../audio/03 Lucky (feat. Colbie Caillat).m4a"> </audio>
<audio id = "freak" src = "../audio/04 Lil Freak (feat. Nicki Minaj).m4a"> </audio>
<audio id = "run" src = "../audio/04 Run This Town (feat. Rihanna & Kanye West).m4a"> </audio>
<audio id = "dre" src = "../audio/04 Still D.R.E. (feat. Snoop Dogg).m4a"> </audio>
<audio id = "who" src = "../audio/04 Who Says.m4a"> </audio>
<audio id = "superstar" src = "../audio/05 Superstar (feat. Matthew Santos).m4a"> </audio>
<audio id = "before" src = "../audio/07 Before He Cheats.m4a"> </audio>


<audio id = "wrecking" src = "../audio/07 Like a Wrecking Ball.m4a"> </audio>
<audio id = "afraid" src = "../audio/07 Not Afraid.m4a"> </audio>
<audio id = "ordinary" src = "../audio/08 Ordinary People.m4a"> </audio>
<audio id = "tears" src = "../audio/27 Tears In Heaven.m4a"> </audio> --}}
{{!-- <audio id = "tears" src = "../audio/27 Tears In Heaven.m4a"> </audio> --}}

