.container {
  background: black;
}
.tile {
  margin-top: 0.5rem;
}
.entire, .notification {
    margin-top: 1rem;
    text-align: center;
    background: black;
    color: darkorange;
}

.transparent {
  background: transparent;
}

.background {
  background-size: cover;
  width: 100%;
  background-image: url("../img/background.png");
}

.background2 {
  background-size: cover;
  width: 100%;
  background-image: url("../img/background2.png");
}

.statbox {
  margin-left: 3rem;
  background: black;
  border-radius: 2rem;
  border: 0.2rem solid grey;
}
.buttonbox {
  margin-left: 10rem;
}
.roller {
  width: 20rem;
}
.songz {
  text-align: center;
  font-size: 1.7rem;
  color: orange;
}
.current-song {
  text-align: center;
  color: lightsalmon;
}

.current-char {
  text-align: center;
  color: lightseagreen;
}

.songbox {
  margin-left: 1rem;
  background: black;
  border-radius: 2rem;
  border: 0.2rem solid grey;
}

#start {
  background: darkorange;
  font-size: 2rem;
  font-family: 'Cagliostro', sans-serif;
  margin-top: 44.5rem;
  border-radius: 1.2rem;
  height: 3rem;
}
.middle {
  border: 2px solid white;
  border-radius: 1.2rem;
  box-shadow: inset 0 0 50px white;
}
.songtitle {
  font-size: 1.2rem;
  color: white;
  font-family: 'Cagliostro', sans-serif;
}
.songlist {
  font-size: 1rem;
  color: hotpink;
  font-family: 'Cagliostro', sans-serif;
}
h1 {
  color: white;
  font-size: 2rem;
  font-weight: 800;
  font-family: 'Cagliostro', sans-serif;
}
h2 {
  color: grey;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: 'Cagliostro', sans-serif;
}

.red_0 {
  border: 1px solid red;
  border-radius: 1.2rem;
  padding: 1rem;
  box-shadow: inset 0 0 50px red;
}
.red_1 {
  color: red;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Cagliostro', sans-serif;
  margin-bottom: 0.5rem;
}

.red_2 {
  color: red;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: 'Cagliostro', sans-serif;
}

.red_3 {
  border: 3px solid red;
  border-radius: 2rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.yellow_0 {
  border: 1px solid yellow;
  border-radius: 1.2rem;
  padding: 1rem;
  box-shadow: inset 0 0 50px yellow;
}
.yellow_1 {
  color: yellow;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
  font-family: 'Cagliostro', sans-serif;
}

.yellow_2 {
  color: yellow;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: 'Cagliostro', sans-serif;
}

.yellow_3 {
  border: 3px solid yellow;
  border-radius: 2rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.blue_0 {
  border: 1px solid blue;
  border-radius: 1.2rem;
  padding: 1rem;
  box-shadow: inset 0 0 50px blue;
}
.blue_1 {
  color: blue;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
  font-family: 'Cagliostro', sans-serif;
}

.blue_2 {
  color: blue;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: 'Cagliostro', sans-serif;
}

.blue_3 {
  border: 3px solid blue;
  border-radius: 2rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.green_0 {
  border: 1px solid greenyellow;
  border-radius: 1.2rem;
  padding: 1rem;
  box-shadow: inset 0 0 50px greenyellow;
}
.green_1 {
  color: greenyellow;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
  font-family: 'Cagliostro', sans-serif;
}

.green_2 {
  color: greenyellow;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: 'Cagliostro', sans-serif;
}
.green_3 {
  border: 3px solid greenyellow;
  border-radius: 2rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}
p {
  color: lightblue;
  font-size: 1rem;
}
.title {
  color: white;
  font-size: 2rem;
}
.subtitle {
  font-size: 16px;
  font-family: 'Cagliostro', sans-serif;
}

.player, .enemy {
  z-index: -2;
  overflow: hidden;
  background: transparent;
}
.button {
  margin: 0.2rem;
  border-radius: 20px;
  width: 8rem;
  margin-left: 1.3rem;
}

.middle {
  border: 2px solid black;
  border-radius: 1.2rem;
  box-shadow: inset 0 0 50px white;
  background: black;
  height: 400px;
}
.box {
  background: black;
}

.stat-div {
  background: black;
  color: white;
}

/* .tile {
  border: 1px solid grey;
  border-radius: 30px;
} */
.stats {
  color: white;
  font-size: 1.2rem;
  font-family: 'Cagliostro', sans-serif;
  margin-left: 2rem;
  margin-top: 1rem;
}

.stats_hp {
  color: red;
  font-size: 1.2rem;
  font-family: 'Cagliostro', sans-serif;
  margin-left: 2rem;
}
.stats_phy {
  color: lightskyblue;
  font-size: 1.2rem;
  font-family: 'Cagliostro', sans-serif;
  margin-left: 2rem;
}

.stats_mag {
  color: blue;
  font-size: 1.2rem;
  font-family: 'Cagliostro', sans-serif;
  margin-left: 2rem;
}

.stats_spd {
  color: yellow;
  font-size: 1.2rem;
  font-family: 'Cagliostro', sans-serif;
  margin-left: 2rem;
}

.stats_def {
  color: purple;
  font-size: 1.2rem;
  font-family: 'Cagliostro', sans-serif;
  margin-left: 2rem;
}

/* image {
  width: 50%;
  height: 50%;
} */

/* ----- EQUALIZER CSS SECTION BELOW ---- */

.equalizer {
  text-align: center;
  margin: 10px auto;
  width: 380px;
  height: 400px;
}

.column {
  display: inline-block;
  width: 40px;
  margin: 5px;
}

#purple {
  height: 160px;
  background-color: #8800FF;
}

#blue {
  height: 140px;
  background-color: #0022FF;
}

#cyan {
  height: 100px;
  background-color: #22FFFF;
}

#green {
  height: 140px;
  background-color: #00BB00;
}

#yellow {
  height: 180px;
  background-color: #FFFF00;
}

#orange {
  height: 70px;
  background-color: #FF6600;
}

#red {
  height: 200px;
  background-color: #FF0000;
}

#black {
  display: inline-block;
  height: 240px;
  width: 1px;
  background-color: #000000;
}



/*

.is-link, .is-success {
  color: black;
  margin: 2px;
  width: 90px;
  font-size: 12px;
}
.tile {
    background: transparent;
    border-radius: 5px;
}
.player-img {
  background-size: cover;
  width: 100%;
  background-image: url("../img/player.jpg");
}
.enemy-img {
  background-size: cover;
  width: 100%;
  background-image: url("../img/enemy.jpg");
}
img {
    height: 20px;
    float: left;
    margin-right: 5px;
}
.player {
  color: greenyellow;
  font-size: 24px;
  font-weight: 600;
}
.class {
    color: greenyellow;
    font-size: 20px;
}
.enemy {
  background: rgb(144, 144, 177);
  color: rgb(130, 189, 236);
  padding: 10px;
}
.bline {

}
.beat {
  font-weight: 500;
  color: yellow;
}
.tempo {
  font-weight: 500;
  color: rgb(98, 189, 37);
}
.frequency {
  font-weight: 500;
  color: rgb(255, 130, 47);
}
.tone {
  font-weight: 500;
  color: rgb(47, 137, 255);
}
.pitch {
  font-weight: 500;
  color: rgb(255, 47, 245);
} */
